<footer class="mt-10 lg:mt-28 px-6 lg:px-0">
    <div class="footer-content lg:px-20 lg:pt-16 flex flex-col text-center lg:flex-row lg:justify-between lg:text-left">
        <ul class="pt-10  lg:pt-0">
            <div>
                <a href="/">DRIP-KUSTOM</a>
            </div>
            <p>Building Your Amazing <br> Kustom Shoes</p>
        </ul>
        <ul class="footer-links flex flex-col">
            <h5>Company</h5>
            <a href="../about">About Us</a>
            <a href="../store-policy">Store Policies</a>
            <a href="../contact">Contact Us</a>
        </ul>
        <ul class="footer-links flex flex-col">
            <h5>Resources</h5>
            <a href="../faqs">Faqs</a>
            <a href="../about">Customer Stories</a>
        </ul>
        <ul class="footer-links flex flex-col">
            <h5>Social Media</h5>
            <a href="../about">TikTok</a>
            <a href="../about">Facebook</a>
            <a href="../about">Instagram</a>
        </ul>
    </div>
    <div class="copyright pb-4 text-center">
        © DRIPKUSTOM. All Rights Reserved
    </div>
</footer>