<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Drip Kustom</title>
</head>
<body>
    

<main class="overflow-hidden">
    <section>
        <div>
            <div class="about-header">
                <div class="blur-bg absolute lg:h-56 md:h-36 h-32"></div>
                <img class="lg:h-56 md:h-36 h-32" src="/public/images/header1.webp" alt="">
                <h1 class="absolute top-9 md:top-11 lg:top-20 text-white font-semibold lg:text-6xl md:text-5xl text-4xl sm:px-10 lg:px-52 mx-4 lg:mx-0">ABOUT US</h1>
            </div>
            <div class="sm:px-10 lg:px-52 lg:mt-14 my-5 mx-4 lg:mx-0">
                <h1 class="font-semibold lg:text-4xl md:text-3xl text-2xl mb-2">OUR STORY</h1>
                <p>Welcome to the vibrant world of Drip Kustoms! We're not just a brand; we're a movement 
                    that believes in the power of individual expression through personalized footwear. 
                    As a startup, every step we take is fueled by passion, creativity, and the desire to 
                    redefine the way you walk through life.
                </p>
                <p class="mt-8">
                    Born out of a shared love for unique fashion and the thrill of creating something one-of-a-kind, 
                    Drip Kustoms emerged from the dreams of a small but dedicated team. Our journey started with a 
                    simple idea: to empower everyone to wear their stories, aspirations, and creativity on their feet.                   
                </p>
                <p class="mt-8">
                    Our journey began in 2020 with a simple mission: to break the monotony 
                    of mass-produced footwear and celebrate the creativity of individuals. We believe 
                    that shoes are not just a fashion accessory, but a form of self-expression. That’s 
                    why we offer our customers the freedom to customize their shoes, ensuring that each 
                    pair is as unique as the person wearing them.
                </p>
                <p class="mt-8">At Drip Kustoms, we prioritize quality and comfort alongside style. We 
                    source the finest materials from around the world and employ skilled artisans to 
                    handcraft each pair of shoes. Our easy-to-use online platform allows you to choose 
                    from a wide range of styles, colors, and materials. 
                </p>
                <p class="mt-8">
                    We are more than just a shoe company - we are a community. We regularly collaborate 
                    with artists, musicians, and influencers to create limited edition collections. We 
                    also host design competitions and workshops, fostering a culture of creativity and 
                    innovation.
                </p>
                <p class="mt-8">
                    <span class="font-semibold">Crafting Uniqueness:</span> In the heart of our startup is the art of customization. 
                    We understand that you're not just buying shoes; you're creating a canvas for your 
                    personality. Our startup team of designers and craftsmen work tirelessly to provide 
                    a platform where you can unleash your creativity, turning your footwear into a true 
                    reflection of who you are.
                </p>
                <p class="mt-8">
                    <span class="font-semibold">Affordable Customization:</span> We believe that individuality 
                    shouldn't come with a hefty price tag. That's why Drip Kustoms is committed to offering 
                    affordable customization options, ensuring that everyone can experience the joy of wearing 
                    something uniquely their own without breaking the bank.
                </p>
                <p class="mt-8">
                    <span class="font-semibold">Customer-Centric Approach:</span> As a startup, we cherish every 
                    customer interaction. Your feedback, ideas, and stories are the fuel that propels us forward. 
                    We're not just here to sell shoes; we're here to build a community that shares the excitement 
                    of walking in shoes that tell a personal story.
                </p>
                <p class="mt-8">
                    <span class="font-semibold">Our Vision for Tomorrow:</span> At Drip Kustoms, we're not just 
                    starting a business; we're starting a revolution. Our vision for the future involves expanding 
                    our customization options, fostering collaborations with emerging artists, and constantly 
                    innovating to bring you new and exciting ways to express yourself through your footwear.
                    <br>
                    
                </p>
                <p class="mt-8">
                    <span class="font-semibold">Join Us on This Journey:</span> Whether you're a trendsetter, a creative soul, or someone just looking 
                    for a pair of shoes that screams "you," Drip Kustoms invites you to join us on this exciting 
                    journey. Together, let's redefine the way we walk, one customized step at a time.
                </p>
                <p class="mt-8 gap-6">
                    Thank you for being a part of our startup story. We can't wait to see where our shared creativity takes us! <br> With custom love.
                </p>
                <p class="mt-8">
                    <span class="font-semibold">Please note:</span> As each pair of shoes is handcrafted to your specifications, please allow 3-4 weeks for delivery. We promise it will be worth the wait!
                </p>
            </div>
        </div>
    </section>
</main>

</body>
</html>