<%- include ('partials/adminHeader') -%>
<style>
    /* Style for the modal */
    .modal {
      display: none;
    }
  
    .modal-content {
      max-width: 400px;
    }
  
    .close {
      cursor: pointer;
    }
</style>
  

<main class="w-[100%]">
    <button id="openModalButton" class="rounded-md shadow-md p-3 my-5">Search an order using Order Id</button>
    
    <div id="myModal" class="modal hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center">
        <div class="modal-content bg-white mx-auto w-96 p-6 rounded-lg relative">
          <span id="closeModal" class="close absolute top-0 right-0 p-4">&times;</span>
          
          <form id="searchOrderForm">
            <label for="orderId" class="block mb-2">Order ID:</label>
            <input type="text" id="orderId" name="orderId" class="w-full p-2 border border-gray-300 rounded-md mb-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Search</button>
          </form>
        </div>
    </div>

    <section>
        <table class="min-w-full divide-y divide-gray-400">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Order Number</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Date Created</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-300">
                <% order.forEach(function(order) { %>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a href="/admin/orders/<%= order.orderNumber %>" class="text-indigo-600 hover:text-indigo-900"><%= order.orderNumber %></a>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap"><%= order.orderDate.toDateString() %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </section>
</main>

<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById('openModalButton');
    var span = document.getElementById('closeModal');
  
    btn.onclick = function() {
      modal.style.display = 'block';
    }
    span.onclick = function() {
      modal.style.display = 'none';
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = 'none';
      }
    }

    function submitForm(event) {
        event.preventDefault();

        const orderId = document.getElementById('orderId').value;
        const redirectUrl = `/admin/orders/${orderId}`;
        // Redirect the user to the specified URL
        window.location.href = redirectUrl;
    }

  document.getElementById('searchOrderForm').addEventListener('submit', submitForm);
</script>
  