<%- include ('partials/header') -%>

<main class="py-3 md:py-10">
    <section class="max-w mx-5 sm:mx-16 lg:mx-32">
        <div class="text-center border-b border-gray-500 mb-5 pb-5">
            <h1 class="font-semibold text-2xl">Change Password</h1>
        </div>

        <% if (messages && messages.length > 0) { %>
          <div class="error-message bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded">
              <%= messages[0] %>
          </div>
        <% } %>

        <form class="grid gap-6" method="post" action="/profile/edit-password">
            <!-- Old Password -->
            <div class="relative">
              <input type="password" id="oldPassword" name="oldPassword" placeholder="Old Password" class="border border-gray-300 rounded-md py-2 pl-10 pr-4 w-full">
              <button id="toggleOldPassword" class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14" />
                </svg>
              </button>
            </div>
          
            <!-- New Password -->
            <div class="relative">
              <input type="password" id="newPassword" name="newPassword" placeholder="New Password" class="border border-gray-300 rounded-md py-2 pl-10 pr-4 w-full">
              <button id="toggleNewPassword" class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14" />
                </svg>
              </button>
            </div>
          
            <!-- Confirm New Password -->
            <div class="relative">
              <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password" class="border border-gray-300 rounded-md py-2 pl-10 pr-4 w-full">
              <button id="toggleConfirmNewPassword" class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14" />
                </svg>
              </button>
            </div>
          
            <button type="submit" id="confirmButton" class="bg-black text-white font-bold py-2 px-4 rounded">Confirm to Change</button>
        </form>
          
    </section>
</main>

<%- include ('partials/footer') -%>

<script>
    
    $(document).ready(function() {
        const togglePassword = (inputId) => {
            const passwordInput = document.getElementById(inputId);
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
        };

        $('#toggleOldPassword').click(function(event) {
            event.preventDefault();
            togglePassword('oldPassword');
        });

        $('#toggleNewPassword').click(function(event) {
            event.preventDefault();
            togglePassword('newPassword');
        });

        $('#toggleConfirmNewPassword').click(function(event) {
            event.preventDefault();
            togglePassword('confirmNewPassword');
        });
    });


</script>
</body>
</html>