<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Drip Kustom</title>
</head>
<body>
    

<main class="overflow-hidden">
    <section>
        <div>
            <div class="about-header">
                <div class="blur-bg absolute lg:h-56 md:h-36 h-32"></div>
                <img class="lg:h-56 md:h-36 h-32" src="/public/images/header4.avif" alt="">
                <h1 class="absolute top-9 md:top-11 lg:top-20 text-white font-semibold lg:text-6xl md:text-5xl text-4xl sm:px-10 lg:px-52 mx-4 lg:mx-0">FAQs</h1>
            </div>
            <div class="sm:px-10 lg:px-52 lg:mt-14 mt-5 mx-4 lg:mx-0">
                <h1 class="font-semibold lg:text-4xl md:text-3xl text-2xl mb-2">FREQUENTLY ASKED QUESTIONS & ANSWERS</h1>
                <div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md uppercase">How does the customization process work?</h2>
                        <p>
                            Our customization process is easy and intuitive. Simply choose your base shoe model, select 
                            your preferred colors and patterns, and add any personalized details. Once you're satisfied with 
                            your design, place your order, and our artisans will bring your creation to life.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">What customization options are available?</h2>
                        <p>We offer a wide range of customization options, including color choices, patterns, material 
                            selection, and even personalized text or monograms. Explore our customization tool to see the 
                            variety of options available for each shoe model.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">Can I see a preview of my customized shoes before ordering?</h2>
                        <p>Absolutely! Our website provides a real-time preview of your customized design as you make changes. 
                            This allows you to visualize your creation and make adjustments until you're completely satisfied.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">Are the shoes true to size?</h2>
                        <p>Yes, our shoes are crafted to standard sizing. We recommend referring to our size chart for accurate measurements. 
                            If you have specific sizing concerns, feel free to reach out to our customer support team for assistance.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">What materials are used for customization?</h2>
                        <p>We use high-quality materials for customization, including premium leather, canvas, and other durable fabrics. 
                            The specific materials available depend on the shoe model you choose.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">How long does it take to receive my customized shoes?</h2>
                        <p>The production and shipping times vary depending on your location and the complexity of your design. Typically, your 
                            customized shoes will be delivered between 3 to 4 weeks. You can track your order through your account on our website.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">Can I make changes to my order after it's placed?</h2>
                        <p>Unfortunately, once an order is confirmed, we begin the customization process immediately. Therefore, changes cannot 
                            be made after the order is submitted. Please double-check your design before finalizing your purchase.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">What is your return and exchange policy?</h2>
                        <p>We want you to be completely satisfied with your custom creation. If there are any issues with your order, please 
                            contact our customer support team within 2 days of ordering your shoes for assistance with returns or exchanges.
                        </p>
                    </div>
                    <div class="mt-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">Do you ship internationally?</h2>
                        <p>Yes, we offer international shipping. Shipping costs and delivery times may vary depending on your location. 
                            Please check our shipping information for details.
                        </p>
                    </div>
                    <div class="my-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">How do I care for my customized shoes?</h2>
                        <p>Care instructions are provided with each pair of shoes. In general, we recommend cleaning your customized 
                            shoes with a damp cloth and avoiding exposure to extreme conditions to ensure their longevity.
                        </p>
                    </div>
                    <div class="my-7">
                        <h2 class="font-semibold lg:text-lg md:text-lg text-md">If you have any further questions or need assistance, feel free to contact our customer support team. 
                            We're here to help you step into personalized style with confidence!
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>